* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: rgb(240, 240, 240);
    color: rgb(51, 51, 51);
    line-height: 1.6;
    font-size: 16px;
}


main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 122, 255);
    text-align: center;
    font-size: 2.5rem;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.add {
    display: inline-block;
    background-color: rgb(0, 122, 255);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 20px 0;
}

.add:hover {
    background-color: rgb(0, 102, 204);
}


.centraliza {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
}


.quadro_paciente {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}


.contato {
    text-align: center;
}

.nome {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}


.contato p {
    margin-bottom: 8px;
}


.preto {
    color: rgb(0, 0, 0);
}

.botoes {
    text-align: center;
    margin-top: 20px;
}

.editar, .excluir {
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.editar {
    background-color: rgb(133, 255, 136);
}

.editar:hover {
    background-color: rgb(106, 223, 70);
}

.excluir {
    background-color: rgb(255, 88, 88);
}

.excluir:hover {
    background-color: rgb(231, 76, 60);
}

.cinza_clarinho{
    color: rgb(166, 166, 166);
}