<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Adicionar filme</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div>
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <h1>Cadastrar filme</h1>
    <div>

            <form action="/add_item" method="POST">
                <div>
                    <label for="nome">Nome: </label>
                    <input type="text" id="nome" name="nome" placeholder="nome do filme" required>
                </div>

                <div>
                    <label for="especie">Gênero: </label>
                    <select id="especie" name="especie">
                        <option value="Ação">Ação</option>
                        <option value="Comédia">Comédia</option>
                        <option value="Drama">Drama</option>
                        <option value="Ficção Científica">Ficção Científica</option>
                        <option value="Romance">Romance</option>
                        <option value="Terror">Terror</option>
                        <option value="Suspense">Suspense</option>
                        <option value="Aventura">Aventura</option>
                        <option value="Animação">Animação</option>
                        <option value="Documentário">Documentário</option>
                        <option value="Outro">Outro</option>
                    </select>
                </div>

                <div id="div_outros2" style="display: none">
                    <label for="outros">Escreva o gênero do filme: </label>
                    <input type="text" id="outros" name="outros" step="0.01" >
                </div>

                <div>
                    <label for="peso">Ano de lançamento: </label>
                    <input max="2024" type="number" id="peso" name="peso" placeholder="somente o ano"><br>
                </div>

                <div>
                    <label for="nome-tutor">Foto</label>
                    <input type="file" id="nome-tutor" name="nome-tutor" placeholder="opcional"><br>
                </div>

                <div>
                    <button type="submit" class="botao-especial">ADICIONAR</button>
                </div>
            </form>

            <script>
                    let especie = document.getElementById("especie")

                    especie.addEventListener("change", function() {
                        let valor = document.getElementById("especie").value
                        if (valor === "Outro") {
                            document.getElementById("div_outros2").style.display = "block"
                        } else {
                            document.getElementById("div_outros2").style.display = "none"
                        }
                    })

            </script>
    </div>
</body>
</html>